<!DOCTYPE html>
<html>
<head>
    <title>Пользователи</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Телефон</th>
                <th>Дата рождения</th>
                <th>Email</th>
                <th>Имя пользователя</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.birthday }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>